<nav class="navbar navbar-light bg-dark ">
  <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
  <form>
    <button class="btn btn-outline-secondary" type="button">Hombre</button>
    <button class="btn btn-outline-secondary" type="button">Mujer</button>
  </form>
  <a class="navbar-brand text-light">
    <li class="fa fa-2x fa-cart-arrow-down"></li>
  </a>
</nav>

<div class="row">
  <div class="col-2 ">
    <div class="border">
      <div class="pl-4">
        <input type="checkbox"> Pantalón
        <br>
        <input type="checkbox"> Camisa
        <br>
        <input type="checkbox"> Chaquetas
        <br>
        <input type="checkbox"> Bermuda
      </div>
      <div class="bg-warning pl-2">
        Talla
      </div>
      <div class="pl-4">
        <input type="checkbox"> 8
        <br>
        <input type="checkbox"> 12
        <br>
        <input type="checkbox"> 14
        <br>
        <input type="checkbox"> 16
      </div>
      <div class="bg-warning pl-2">
        Color
      </div>
      <div class="pl-4">
        <input type="checkbox"> Blanco
        <br>
        <input type="checkbox"> Negro
        <br>
        <input type="checkbox"> Azul
        <br>
        <input type="checkbox"> Verde
      </div>
    </div>
  </div>
  <div class="col-10 row">
    <div class="card col-2 cardhover">
      <img src="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <p>Precio:</p>
        <p>Talla:</p>
        <div class="text-right">
          Agregar al carrito
          <li class="fa fa-cart-plus"></li>
        </div>
      </div>
    </div>

    <div class="card col-2 cardhover">
      <img src="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg" class="card-img-top"
        alt="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg">
      <div class="card-body">
        <p>Precio:</p>
        <p>Talla:</p>
        <div class="text-right">
          Agregar al carrito
          <li class="fa fa-cart-plus"></li>
        </div>
      </div>
    </div>

    <div class="card col-2 cardhover">
      <img src="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg" class="card-img-top"
        alt="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg">
      <div class="card-body">
        <p>Precio:</p>
        <p>Talla:</p>
        <div class="text-right">
          Agregar al carrito
          <li class="fa fa-cart-plus"></li>
        </div>
      </div>
    </div>

    <div class="card col-2 cardhover">
      <img src="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg" class="card-img-top"
        alt="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg">
      <div class="card-body">
        <p>Precio:</p>
        <p>Talla:</p>
        <div class="text-right">
          Agregar al carrito
          <li class="fa fa-cart-plus"></li>
        </div>
      </div>
    </div>

    <div class="card col-2 cardhover">
      <img src="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg" class="card-img-top"
        alt="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg">
      <div class="card-body">
        <p>Precio:</p>
        <p>Talla:</p>
        <div class="text-right">
          Agregar al carrito
          <li class="fa fa-cart-plus"></li>
        </div>
      </div>
    </div>

    <div class="card col-2 cardhover">
      <img src="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg" class="card-img-top"
        alt="https://bijuymoda.com/1088-large_default/stock-ropa-mujer-pack-100-nueva.jpg">
      <div class="card-body">
        <p>Precio:</p>
        <p>Talla:</p>
        <div class="text-right">
          Agregar al carrito
          <li class="fa fa-cart-plus"></li>
        </div>
      </div>
    </div>
  </div>
</div>
