<div class="container h-100 divCenter">
  <div class=" row align-self-center h-100">
    <div class="col-4  text-center jumbotron  mx-auto my-auto">
     <div >
       <img src="../../../assets/imagen/users.png" width="150">
       <hr>
      <form  >
        <input type="text" class="form-control" placeholder="Usuario">
        <br>
        <input type="password" class="form-control" placeholder="contraseña">
        <br>
        <button class="btn btn-outline-success" >Iniciar sesión</button>
      </form>
     </div>
    </div>
  </div>
</div>
